.header {
  background-color: rgb(50, 167, 145);
  display: flex;
}

.trybewarts-login {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

  #evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.form {
  display: flex;
 
}

#trybewarts-forms-logo {
  height: 500px;
  width: 300%;
}

.firstAndLastname-flex {
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin: 5px;
}

.radios-button {
  display: flex;
  flex-direction: row;
}
