.header {
  background-color: rgb(50, 167, 145);
  display: flex;
}

 .trybewarts-login {
  display: flex;
  flex-direction: column;
  margin: 40px;
}



.form {
  display: flex;
 
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 300%;
}

#house {

}
